<template>
  <h1>Locations</h1>
  <ul class="data-list">
    <li v-for="character in characters" :key="character.id">
      {{ character.name }}
      <img :src="character.image" alt="character.name">
    </li>
  </ul>
</template>

<script>
import { useQuery } from '../composable/useQuery'
export default {
  setup() {
    const { results } = useQuery(/* GraphQL */ `
      query($page: Int) {
        data: characters(page: $page) {
          info {
            count
            pages
            next
            prev
          }
          results {
            id
            name
            image
          }
        }
      }
    `)

    return {
      characters: results,
    }
  },
}
</script>

<style></style>
